{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
<section class="card-card-body">
    <h1 class="display-1 text-center">Django App</h1>
Lorem ipsum dolor, sit amet consectetur adipisicing
elit. Optio esse doloremque tempora similique laborum 
accusantium, ipsum officiis amet quos itaque tempore, 
exercitationem quas blanditiis inventore possimus 
dignissimos. Officia sint quis, animi modi nulla harum
 illum id doloremque perspiciatis molestiae laboriosam
 ut. Eos cupiditate dolorum laudantium illum ex expedita
 quasi maxime veritatis voluptates velit ad autem harum
 est rerum in laboriosam voluptatem aliquam quas omnis
 voluptas cum, eaque recusandae maiores. Illo ex, quas
 repellat dignissimos ad deleniti accusantium eaque
 harum corporis maiores, doloribus ratione facilis
 aperiam a tempora blanditiis nobis quis quod eius,
 adipisci quos optio. Dignissimos sunt nisi nihil
 corrupti.
 </p>

 <div class="text-center">
    <a class="btn btn-secondary" href="{% url 'signin' %}">
        Signin
    </a>
    <a class="btn btn-dark" href="{% url 'signup' %}">
        Signup
    </a>

 </div>   
 
</section>
</main>


{% endblock %}

